<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.smartooth.customer.mapper.CustomerOrganMapper">

	


	<select id="selectDentalHospitalVisitList" parameterType="String" resultType="hashmap">
	
		SELECT 
			STM.USER_ID																																																								AS USER_ID
			,CAST(AES_DECRYPT(UNHEX(FROM_BASE64(SU.USER_NAME)), '${securityKey}') AS CHAR)																														AS USER_NAME
			,STM.ORGAN_CODE																																																						AS ORGAN_CODE
			,CONCAT(SDHI.DENTAL_HOSPITAL_NM, "(", SDHI.DENTAL_HOSPITAL_SIDO_NM, " ", SDHI.DENTAL_HOSPITAL_SIGUNGU_NM, " ",SDHI.DENTAL_HOSPITAL_EUPMYEONDONG_NM, ")") 	AS DENTAL_HOSPITAL_NM
			,DATE_FORMAT(STM.MEASURE_DT, '%Y-%m-%d')																																												AS MEASURE_DT
		FROM ST_TEETH_MEASURE STM
		LEFT OUTER JOIN ST_DENTAL_HOSPITAL_INFO SDHI
		ON STM.ORGAN_CODE = SDHI.DENTAL_HOSPITAL_CD
		LEFT OUTER JOIN ST_USER SU
		ON STM.USER_ID = SU.USER_ID
		WHERE 1=1
		AND STM.USER_ID = #{userId}
		AND DATE_FORMAT(MEASURE_DT, '%Y-%m-%d') BETWEEN #{measureStartDt} AND #{measureStartDt}
		
	</select>





	<select id="selectDentalHospitalList" parameterType="String" resultType="hashmap">
		
		SELECT * 
		FROM (
				SELECT 
					SDHI.DENTAL_HOSPITAL_CD																																																			AS DENTAL_HOSPITAL_CD
					,CONCAT(SDHI.DENTAL_HOSPITAL_NM, "(", SDHI.DENTAL_HOSPITAL_SIDO_NM, " ", SDHI.DENTAL_HOSPITAL_SIGUNGU_NM, " ",SDHI.DENTAL_HOSPITAL_EUPMYEONDONG_NM, ")")  	AS DENTAL_HOSPITAL_NM
					,CASE
						WHEN SCIAI.INFORMATION_AGRYN = "N" THEN 'N'
						WHEN SCIAI.INFORMATION_AGRYN = "Y" THEN 'Y'
						ELSE 'N'
 					 END 																																																											AS INFORMATION_AGRYN
					,DATE_FORMAT(SCIAI.INFORMATION_AGRYN_DT, '%Y-%m-%d') 																																							AS INFORMATION_AGRYN_DT
				FROM ST_DENTAL_HOSPITAL_INFO SDHI
				LEFT JOIN ST_CUSTOMER_INFOMATION_AGREE_INFO SCIAI
				ON SDHI.DENTAL_HOSPITAL_CD = SCIAI.DENTAL_HOSPITAL_CD
				AND SCIAI.USER_ID = #{userId}
				UNION
				SELECT 
					SDHI.DENTAL_HOSPITAL_CD
					,CONCAT(SDHI.DENTAL_HOSPITAL_NM, "(", SDHI.DENTAL_HOSPITAL_SIDO_NM, " ", SDHI.DENTAL_HOSPITAL_SIGUNGU_NM, " ",SDHI.DENTAL_HOSPITAL_EUPMYEONDONG_NM, ")")  	AS DENTAL_HOSPITAL_NM
					,CASE
						WHEN SCIAI.INFORMATION_AGRYN = "N" THEN 'N'
						WHEN SCIAI.INFORMATION_AGRYN = "Y" THEN 'Y'
						ELSE 'N'
					END 																																																											AS INFORMATION_AGRYN
					,DATE_FORMAT(SCIAI.INFORMATION_AGRYN_DT, '%Y-%m-%d') 																																							AS INFORMATION_AGRYN_DT
				FROM ST_DENTAL_HOSPITAL_INFO SDHI
				RIGHT JOIN ST_CUSTOMER_INFOMATION_AGREE_INFO SCIAI 
				ON SDHI.DENTAL_HOSPITAL_CD = SCIAI.DENTAL_HOSPITAL_CD
				WHERE 1=1
				AND SCIAI.USER_ID = 'KRPA__________01-mochalove@smartooth.co'
			) A
		WHERE 1=1 
		<if test="dentalHospitalNm != null and dentalHospitalNm != '' ">
		AND A.DENTAL_HOSPITAL_NM LIKE CONCAT('%', #{dentalHospitalNm}, '%')
   		</if>
		ORDER BY (
			CASE 
				WHEN A.INFORMATION_AGRYN = 'Y' THEN 1
				WHEN A.INFORMATION_AGRYN = 'N' THEN 2
				ELSE 3
			END
		), A.DENTAL_HOSPITAL_NM ASC
		
		
	</select>
	
	
	
	
	
	<select id="selectDentalHospitalAgreeList" parameterType="String" resultType="hashmap">
		
		SELECT 
			SCIAI.USER_ID																																																								AS USER_ID
			,SDHI.DENTAL_HOSPITAL_CD																																																			AS DENTAL_HOSPITAL_CD
			,CONCAT(SDHI.DENTAL_HOSPITAL_NM, "(", SDHI.DENTAL_HOSPITAL_SIDO_NM, " ", SDHI.DENTAL_HOSPITAL_SIGUNGU_NM, " ",SDHI.DENTAL_HOSPITAL_EUPMYEONDONG_NM, ")")  	AS DENTAL_HOSPITAL_NM
			,SCIAI.INFORMATION_AGRYN																																																			AS INFOMATION_AGRYN
			,DATE_FORMAT(SCIAI.INFORMATION_AGRYN_DT, '%Y-%m-%d') 																																							AS INFORMATION_AGRYN_DT
		FROM ST_DENTAL_HOSPITAL_INFO SDHI
		LEFT OUTER JOIN ST_CUSTOMER_INFOMATION_AGREE_INFO SCIAI  
		ON SDHI.DENTAL_HOSPITAL_CD = SCIAI.DENTAL_HOSPITAL_CD
		WHERE 1=1
		AND SCIAI.INFORMATION_AGRYN = 'Y'
		AND SCIAI.USER_ID = #{userId}
		
	</select>
	
	
</mapper>